// =========================
// inicio css componente tabela

.owl--table {
    overflow: auto;
    width: 100%;
}

.owl--table table {
    border: 1px solid #dededf;
    height: 100%;
    width: 100%;
    table-layout: auto;
    border-collapse: collapse;
    border-spacing: 1px;
    text-align: left;
}

.owl--table caption {
    caption-side: top;
    text-align: left;
}

.owl--table th {
    border: 1px solid #dededf;
    background-color: #fafafa;
    color: #000000;
    padding: 0.8rem;
}

.owl--table td {
    border: 1px solid #dededf;
    padding: 0.8rem;
}

.owl--table tr:nth-child(even) td {
    background-color: #ffffff;
    color: #000000;
}

.owl--table tr:nth-child(odd) td {
    background-color: #fafafa;
    color: #000000;
}

// =========================
// fim css componente tabela

.inline--buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.show--user{        
    width: 100%;
}

.current--user {
    // min-width: fit-content;
    min-height: 30rem;
    white-space: pre;
    overflow-x: scroll;
    padding: 3rem;
    border: 1px solid #E5E5E5;
    border-radius: 4px;
    line-height: 1.4;
    letter-spacing: -0.022em;
    transition: 200ms ease-in-out;
    background: #F9F9F9;
    color: #242424;
    // font-family: source-code-pro, Menlo, Monaco, "Courier New", Courier, monospace;
}


